.todo-item {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}

.todo-item > p {
  flex: 1;
}

.todo-item-done {
  text-decoration: line-through;
  opacity: 0.4;
}

.remove-button {
  margin: 0 10px;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 80px;
}
